.dashboard-head{
    padding: 2rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #a340f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.611);
    border-radius: 1rem;
    background-color: #d5baff;
    margin: 2rem;
    flex-direction: column;
}

.map-details{
    border: 2px solid black;
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-Maps{
    height: 600px;
    width: 450px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}
.map-Maps svg {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0px 0px 5px black);
}

.map-Maps svg path{
    /* fill: #97f3ff; */
    stroke: #000000;
    stroke-width: .8;
}

.map-Maps svg path:hover{
    fill: #45a049;
    transition: 0.6s;
    cursor: pointer;
}

.active{
    fill: #45a049;
    z-index: 5000;
    filter: drop-shadow(0px 0px 10px black);
}

.inactive{
    fill: rgb(255, 75, 75);
    z-index: 200;
}