@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.Login-container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #A020F0;
    border-radius: 2rem;
    min-height: 480px;
}

.Login-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.Login-container span{
    font-size: 1.2rem;
}

.Login-container form{
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    width:fit-content;
    height: 100%;
}

.Login-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 200px;
    outline: none;
}

.form-container{
    background-color:  #fff;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
 
.dont-have-acc{
    display: flex;
}

.social-icons{
    margin: 20px 0;
}

.social-icons p{
    border: 1px solid #BF40BF;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 80px 0 0 80px;
    z-index: 1000;
}

.form-container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 80px 80px 0;
}

.toggle{
    background-color: #BF40BF;
    height: 100%;
    /* background: linear-gradient(to right, #5c6bc0, #512da8); */
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.form-container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.form-container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.form-container.active .toggle-right{
    transform: translateX(200%);
}

.signinbtn:hover{
    background-color: #512da8;
}
.Login-p{
    display: inline;
    height: auto;
    margin-left: 0px;
    
}
/* .chooseUserDiv {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 768px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100%;
    min-height: 480px;
} */