.dashboard{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.d-state-name{
    font-size: 3rem;
}

.d-container{
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    /* background-color: #000000; */
    /* gap: 2rem; */
    color: azure;
    padding: 2rem;
    /* margin: 2rem; */
    /* width: 50vw; */
}

.dd{
    margin: 2rem;
    border: 2px solid #a340f0;
    height: 15rem;
    width: 15rem;
    border-radius: 1.7rem;
    color: black;
    padding: 2rem;
    /* background-color: black; */
    box-shadow: 2px 2px 5px #3d3d3d75;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.dd:hover{
    background-color: #a340f0;
}

.d1{
    background-color: #a340f0;
}

.dd h2{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    /* background: #000; */
    /* color: black; */
    padding: auto; 
    font-size: 1.2rem;
}

.dd p{
    font-size: 2rem;
}

.dd h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Analytics-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Analytics-head h2{
    font-size: 3rem;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.Analytics{
    /* background-color: rgba(0, 0, 0, 0.358); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Analytics span{
    border: 2px solid #a340f0;
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    color: whitesmoke;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 1.5rem;
}

.Analytics span:nth-child(1){
    background-color: rgb(36, 107, 205);
}

.Analytics span:nth-child(2){
    background-color: rgb(52, 199, 77);
}

.Analytics span:nth-child(3){
    background-color: rgb(200, 50, 50);
    border: 1px solid black;
  
}

.guideline{
    display: flex;
    /* background-color: aqua; */
}

.guideline-container{
    width: 50vw;
    padding: 1rem;
    /* display: flex; */
    background-color: aqua;
    margin: 2rem;
    border-radius: 2rem;
}

.guideline .guideline-container .guidelines-head{
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}

.g-button{
    border-radius: 0.9rem;
    background-color:#ebc5eb;
    border: 2px solid white ;
    display: flex;
    justify-content:center;
    width: 6rem;
    
}
.text{
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
}

.dashboard-vm-button{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.d-info{
    background-color:aquamarine;
    display: flex;
    width: 50vw;
    gap: 2rem;
    border-radius: 2rem;
    justify-content:space-evenly;
    margin: 2rem;
}

.d-stats{
    font-size:xx-large;
}

.c-name{
    font-size: xx-large;
}

.d-stats .g-para{
    background-color: brown;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    font-size:x-large;
    padding: 7px;
}

 .g-para{
    background-color: rgb(185, 124, 124);
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    font-size:x-large;
    border-radius: 20px;
    padding: 7px;
}

.stat{
    margin: 18px 18px 0 95px;
}
.para{
    margin: 10px;
    padding: 15px;
    
}