.chooseUserDiv {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 768px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100%;
    min-height: 480px;
}

.cu-buttons-div{
    display: flex;
    justify-content: space-around;
    padding: 0rem 2rem;
}

.cu-buttons-div-span{
    /* background-color: red; */
    padding: 1rem;
    margin: 1rem 0;
}

.cu-buttons-div-span p{
    font-size: 3rem;
    text-align: center;
}

.CUtoggle{
    width: 100%;
    overflow: hidden;
    border-radius: 8px 0px 80px 80px;
    background-color: #BF40BF;
    height: max-content;
}
.Chooseh2 {
    margin-top: 80px;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 80px;
    color: #fff;
}

 .Adminbtn, .Ngobtn, .Citizenbtn {
    background-color: #512da8;
    color: #fff;
    font-size: 1.4rem;
    margin-right:40px ;
    margin-left: 40px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0px;
    cursor: pointer;
}

.Adminbtn:hover, .Ngobtn:hover, .Citizenbtn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}