.PhotoSlider{
    margin: 2rem;
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.PhotoSlider span{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 5;
    /* border: 1px solid yellow; */
}
.PhotoSlider span:nth-child(3){
    height: 80vh;
    align-items: end;
}

.ps-img{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.ps-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ps-action-butt{
    background-color: #00000000;
    border: none;
    color: black;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 0px 0px white,
                0px 0px 1px white,
                0px 0px 10px black;
}

.ps-action-butt:hover{
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 5px;
}