.LClc{
    margin-top: 4rem;
}

.lc-p{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}
.lc-state{
    /* display: flex;
    flex-direction: row;
    margin-left: 300px;
    justify-content: space-evenly; */
    display: flex;
    justify-content: center;
}
.opt{
    height: 30px;
    width: 160px;
    margin-top: 15px;
    margin-left: 50px;
}

.opt select{
    color: black;
}

.center1{
    border: 2px solid black;
    border-radius: 2rem;
    width: 45vw;
    height: 20vh;
    /* justify-content: center; */
    margin-left: 450px;
    margin-bottom: 25px;
}
.lc{
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
    flex-direction: column;
    margin-left: 40px;
}
.lc-cm{
    margin: 20px;
    font-weight: 500;
    font-size: large;
    
}

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }

    .lct-btn{
    background-color:transparent;
    color: black;
    text-decoration: none;
    border: 2px solid green;
    font-weight: bold;
    /* padding: 13px 30px; */
    height: 40px;
    width: 70px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}